@model Dostigator.Models.Tutorial

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Profile_Layout.cshtml";
}

<div class="container">
    <h3>Вы действительно хотите удалить <b>@Html.DisplayFor(model => model.Name)</b></h3>
    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />               
            </div>
        }
    </div>
</div>


