@model Dostigator.Models.Tutorial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Profile_Layout.cshtml";
}

<div class="container white" style="padding:25px;">
    <div>
        <h2> @Html.DisplayFor(model => model.Name) </h2>
        <div class="chip">
            @Html.DisplayFor(model => model.Date)
        </div>            
        <br />
            @Html.Raw(Model.Text)
        </div>

</div>


