@{
    ViewBag.Title = "Достигатор";
}

<div class="fullscreen-bg">
    <div class="overlay">
        <div class="section no-pad-bot">
            <div class="container">

                <h1 class="header center white-text text-lighten-2">Достигатор</h1>

                <!--<h3 class="center white-text"><i class="material-icons">center_focus_strong</i></h3>   -->
                <div class="center-block">
                    <img src="~/Content/img/Logo.png" class="logo">
                </div>

                <!--<hr style="width: 200px;">-->
                <h2 class="header col s12 light  white-text">
                    <span id="typed"> </span>
                </h2>


                <br><br>
            </div>
        </div>
    </div>
    <video loop muted autoplay poster="" class="fullscreen-bg__video">
        <source src="~/Content/video/people.mp4" type="video/mp4">
        <!--<source src="video/Pink_Mood_NYC.webm" type="video/webm">-->
    </video>
</div>




<div class="container">
    <div class="section" style="padding-top: 50px; padding-bottom: 100px;">


        <div class="container heading">
            <h2>Органайзер личных целей и задач</h2>
        </div>

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block ">
                    <div class="center-block">
                        <img src="~/Content/img/relax.jpg" alt="" class="circle responsive-img">
                    </div>
                    <h5 class="center flow-text">Простота</h5>

                    <p class="light flow-text">Нет ничего проще, чем пройти регистрацию и начать творить. Это занимает 1 минуту и вы уже в начале большого пути!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="center-block">
                        <img src="~/Content/img/aim.jpg" alt="" class="circle responsive-img">
                    </div>

                    <h5 class="center">Эффективность</h5>

                    <p class="light flow-text">Вы сразу можете почувствовать влияние Достигатора на вашу эффективность. Просто попробуйте!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="center-block">
                        <img src="~/Content/img/responsive.jpg" alt="" class="circle responsive-img">
                    </div>

                    <h5 class="center">Адаптивность</h5>

                    <p class="light flow-text">Платформа отвечает своим требованиям на всех устройствах. Будет это ноутбук, телефон или планшет - совсем неважно!</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light">Как возникла идея?</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/img/bg/1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <h2 class="header">То, с чего все начиналось</h2>
        <p>Бумажный вариант, носителя своих целей и задачек, не всегда удобен в использовании. Велика вероятность того, что не всегда может находиться у вас под рукой. В связи с этим некотороые данные могут быть утеряны или забыты, так как запись не будет произведена. Современные технологии - это то, что всегда с нами, то чем мы пользуемся постоянно в повседневной жизни. Дочтигатор вписывается в концепцию и повышает эргономику использования по сравнению с бумажными аналогами.</p>
        <p>Мы всегда должны видеть процесс нашего развития и роста. Так в нас появляется энергия для движения вперед.</p>
        <p>Пользователь может ясно, без поисков видеть, когда цель создана, какой прогресс сейчас, что осталось сделать.</p>
        <p>
            Для выполнении цели важна не только мотивация , но и знания, поддержка, поэтому всегда должен быть информационный канал для восполнения этой необходимостью, который будет подсказывать пользователю подходы, методы для достижения лучших результатов.
            Именно это натолкнуло меня на создание Достигатора.
        </p>



    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light">Описание функциональности</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/img/bg/2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <h2 class="header">Возможности</h2>
        <p>Регистрация, создание, редактирование, просмотр, удаление целей (только для зарегистрированных пользователей).</p>
        <p>
            Создание отчётов по целям, прогресс бар, который показывает прогресс цели.
            Поиск по тегу, поиск по заголовку, объединение в группу целей по однойм тематике.
        </p>



    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light">Цели</h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/img/bg/3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <h2 class="header">То, к чему мы пришли</h2>
        <p>В первую очередь помогать людям получать то, чего они хотят.</p>
        <p>Помогать структуировать их цели и задачи.</p>
        <p>Мотивировать к достижению любых целей, показывать процесс, вдохновить и втянуть.</p>
        <h2 class="header">То, что можно доработать</h2>
        <p>К ряду с материалами, которые будут публиковаться, можно встроить систему начисления баллов и подсказок.</p>
        <p>Подсказки будут исключительно по темам, по которым созданы цели.</p>
        <p>Доработать систему мотивации.</p>
        <p>Доработать систему подсказок пользователю. Всплывающие подсказки при входе в кабинет или при создании целей.</p>






    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light">Заходи и действуй</h4>
            </div>
            <div class="row center">
                <a href="~/Account/Register" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Регистрация</a>
                <a href="~/Account/Login" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Вход</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1495793443044-df59eb2ec73c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e85d24fd221a1c0bf838cc0efd89389d&auto=format&fit=crop&w=1650&q=80" alt="Unsplashed background img 2"></div>
</div>

<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="white-text" href="http://materializecss.com">Eugene Vaida</a>
        </div>
    </div>
</footer>





<div class="container">
    <div class="section">
        <h2 class="header">Что это такое?</h2>
        <hr>
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="row">
                    <div class="card-image col s12 m6 l4">
                        <img src="https://78.media.tumblr.com/f59c4f62d9323ae624e34b346bfc3e3e/tumblr_oqwjhg9BI01rk4thbo1_250.gif" class="circle responsive-img">
                    </div>
                    <div class="card-stacked col s12 m6 l8">
                        <div class="card-content ">
                            <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="https://78.media.tumblr.com/980b1d516cec531fd51dc47c8ebb661b/tumblr_oqwjhg9BI01rk4thbo2_250.gif" class="responsive-img">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12 m6 l4">
                <img src="https://78.media.tumblr.com/fdb3b4a55cbcb9ecc9dab432eed827ff/tumblr_oqwjhg9BI01rk4thbo7_r1_540.gif" class="responsive-img">
            </div>
            <div class="col s12 m6 l8">
                <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12 m6 l4">
                <img src="https://78.media.tumblr.com/ed0d0678f63c381dc29af7ac9e83a105/tumblr_moloevDZTw1qkt655o1_250.gif" class="responsive-img">
            </div>
            <div class="col s12 m6 l8">
                <p class="flow-text">I am a very simple card. I am good at containing small bits of information.</p>
            </div>
        </div>



    </div>
</div>

