@{
    ViewBag.Title = "Материалы";
}

@{
    Layout = "~/Views/Shared/Profile_Layout.cshtml";
}
@model Dostigator.Models.User


<div class="container">
    <section>
        <div class="row-center">
            <h2>Материалы</h2>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="row">
                    @foreach (var x in ViewBag.Tutorials)
                    {
                        <div class="col s12 m6 l4">                            
                                <div class="card medium" style="padding: 15px;">
                                    <h4>@x.Name</h4>
                                    <div class="card-content">                                                                                                                     
                                    </div>
                                    <div class="card-action">
                                        <a href="~/Tutorials/Details/@x.Id">Просмотр</a>
                                        <p class="grey-text text-lighten-1">@x.Date</p> 
                                    </div>
                                </div>                                                       
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
