

<div class="container">
    <section>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://drscdn.500px.org/photo/177823087/w%3D440_h%3D440/v2?webp=true&v=7&sig=9f050ea7d86827347c212238c04f24d9ea34d94d335f7f33614c5b0e2a33b3b9">
                    </div>                    
                    <a href="#name"><span class="white-text name">Логин @ViewBag.User.Email</span></a>
                    <a href="#email"><span class="white-text email">Возраст @ViewBag.User.Age</span></a>
                </div>
            </li>
            <li><a href="~/Profile" class="waves-effect">Профиль</a></li>
            <li><a href="~/Profile/Aims" class="waves-effect">Мои цели</a></li>
            <li><a href="~/Profile/TimeLines" class="waves-effect">Таймлайн</a></li>
            <li><a href="~/Profile/Materials">Материалы</a></li>
            <li><a href="~/Aims/All">Цели</a></li>
            <li><a href="~/Profile/Aims/Tag">Теги</a></li>
            <li><a href="~/Account/Logoff">Выйти</a></li>
            
        </ul>
    </section>
</div>